@import "https://fonts.googleapis.com/css?family=Crete Round|Inter";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 375px;
  height: 6968px;
  position: relative;
  background-color: #fff;
}

/* --HEADER-- */

header.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
  width: 375px;
  height: 60px;
  position: static;
}

header.toolbar .my-logo {
  color: #fff;
  font-family: "Roboto", Verdana, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  line-height: 24px;
  align-items: center;
  text-align: center;
  width: 140px;
  height: 24px;
  padding: 24px;
  position: static;
}

header.toolbar .menu-botton {
  color: #fff;
  background-color: transparent;
  align-content: center;
  cursor: pointer;
  padding: 24px;
}

/* --HEADLINE-- */
.headline {
  display: flex;
  width: 375px;
  height: 590px;
  align-items: center;
  flex-direction: column;

  /* BACKGROUND */

  background-size: 228px 225px;
  background-repeat: no-repeat;
  background-position: 250px 100%;
  background-color: #1c1a19;
  background-image: url("./images/Illustration.png");
}

.my-name {
  flex: none;
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  order: 0;
  flex-grow: 0;
  margin: 12px;
  padding-top: 120px;
  position: static;
}

.iam {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px;
}

.my-description {
  flex: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  order: 2;
  flex-grow: 0;
  margin: 12px;
}

.social-network ul {
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-network ul li {
  list-style: none;
  width: 40px;
  height: 35px;
  overflow: hidden;
  margin-top: 10px;
  transition: 0.5s;
  color: #dbd8d7;
  cursor: pointer;
}

.work-one {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 100px 0 0 30px;
}

.title-work-one {
  font-size: 40px;
  font-family: "Crete Round", sans-serif;
  padding-bottom: 30px;
}

.image-recent-work {
  padding-top: 50px;
  width: 327px;
  height: 237px;
}

.multi-post {
  padding: 10px;
}

.text-work-one {
  padding: 10px;
}

.tag-recent-work {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 20px;
}

.tag-recent-work ul li {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
}

.button-see-project {
  /* Button / Enable */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 124px;
  height: 48px;
  left: 0;
  top: 259px;

  /* Theme 3 / Primary 1 */

  background: #ff6b00;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0 100px;
}

.button-text {
  position: static;
  width: 100px;
  height: 24px;
  left: 12px;
  top: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 2 / Neutral 11 */

  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.container-works {
  flex-direction: column;
  display: grid;
}

.card-content {
  padding: 200px 0 0 24px;
  width: 350px;
  height: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  color: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url("./images/Placeholder.png");
  background-repeat: no-repeat;
}

.tag {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tag ul li {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;

  /* Tag */

  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 61px;
  height: 40px;
  left: 175px;
  top: 0;
  background: rgba(255, 255, 255, 0.24);

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 12px;
}

.see-project-card {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 185px;
  position: static;
  width: 56px;
  height: 40px;
  left: 0;
  top: 0;
  background-color: #ff6b00;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 50px;
}

.see-project-card p {
  /* See Project */

  position: static;
  width: 100px;
  height: 24px;
  left: 12px;
  top: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 2 / Neutral 11 */

  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 0;
}

#about-me {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: #262626;
  color: #f4f5f7;
  background-image: url(./images/Frame.png);
  background-repeat: no-repeat;
  background-position: left 70vw top 15vh;
}

.about-me .resume {
  padding: 100px 0;
}

.about-me .resume .resume-text {
  width: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#about-me .resume h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  line-height: 82px;
  color: #f55800;
}

.about-me .resume .get-myresume-btn {
  width: 161px;
  height: 48px;
  left: 12px;
  top: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background-color: #f55800;
  margin-top: 1rem;
}

#about-me .competence {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr;
  border-top: solid 1px #fff;
}

.about-me .competence .competence-list li.list-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 17px;
  left: -20px;
  background: #f55800;
  transform: rotate(-45deg);
  list-style: none;
}

#about-me .competence ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
